@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    
    padding: 50px 0;
}
.color-block {
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px rgba(34, 60, 80, 0.2);
    
}
.text {
    font-size: 30px;
}
.btn {
    font-size: 30px;
    padding: 14px 35px;
    background-color: black;
    color: white;
    border-radius: 5px;
    transition: all 0.5s;
}

.btn:hover {
    opacity: 0.8;
}

.btn:active {
    position: relative;
    top: 1px;
}